k8s/.terraform.lock.hcl
k8s/.terraform/providers/registry.terraform.io/hashicorp/aws/4.25.0/darwin_arm64/terraform-provider-aws_v4.25.0_x5
k8s/.terraform/providers/registry.terraform.io/hashicorp/aws/4.25.0/linux_amd64/terraform-provider-aws_v4.25.0_x5
k8s/terraform.tfstate
k8s/terraform.tfstate.backup
